@{
    ViewBag.Title = "Lista de Familiares";
}

<!-- Acá mi plan era mostrar la tabla de Sql directamente en el View, no lo logré por lo tanto 
    opté por hacer un href al FamilyList.aspx que contiene la tabla del usuario/regalo -->>

<h2><center>@ViewBag.Title.</center></h2>
<h3>Para observar la lista de familiares, chequeá <a href="https://localhost:44338/FamilyList.aspx">acá</a></h3>

